footer {
  background-color: $color-blue-secondary;
  padding: 1.75rem 0 0;
  margin-top: 2rem;

  .logo-footer {
    max-width: 100%;
  }

  p {
    color: #fff;
    margin: 0;
  }

  i {
    color: #fff;
  }

  .footer-bottom {
    color: #fff;
    font-size: 0.7rem;
    margin-top: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 3rem;
    }

    .footer-nav-info {
      display: flex;
      padding: 0;
      flex-direction: column;

      @include media-breakpoint-up(lg) {
        justify-content: space-between;
        flex-direction: row;
      }

      .footer-info {
        font-size: 0.7rem;
        padding-right: 50px;
        display: flex;
        align-items: self-start;

        @include media-breakpoint-down(lg) {
          margin-bottom: 1.25rem;
          padding-right: 0;
        }

        a {
          color: #fff;
          text-decoration: none;
        }

        i {
          margin-right: 0.5rem;
          font-size: 1rem;
        }

        &.socials {
          padding: 0;
          @include media-breakpoint-down(lg) {
            margin-top: 1.25rem;
            display: flex;
            justify-content: center;
          }
          a {
            padding: 10px;
            border: 2px solid #fff;
            border-radius: 100%;
            transform: translateY(-10px);
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            display: flex;
          }

          i {
            font-size: 0.75rem;
          }
        }
      }

    }
  }

  .footer-nav {
    .nav-item {
      padding: 0.15rem 0;
      text-transform: uppercase;
      font-size: 0.6rem;
      transition: all 0.4s ease-in-out;
      @include media-breakpoint-up(lg) {
        border-right: 1px solid $color-blue-third;
      }

      &:last-child {
        border: 0;
      }

      .nav-link {
        padding: 0.15rem 0;
        text-transform: uppercase;
        font-size: 0.65rem;
        transition: all 0.3s ease-in-out;
        color: #fff;
        @include media-breakpoint-up(lg) {
          padding: 0.15rem 0.7rem;
        }

        &:hover {
          color: $color-blue-third;
          transform: translateY(-4px);
        }
      }
    }
  }

  .footer-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    padding: 0;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      float: right;
    }
  }

  .copy {
    margin-top: 0.5rem;
    font-size: 0.65rem;
    padding: 0.75rem 0;
    background-color: $color-blue-main;
    color: #fff;
    @include media-breakpoint-up(lg) {
      margin-top: 1.75rem;
    }
  }

}