//MAIN SLIDER
.main-slider {
    .home-swiper {
        .swiper-slide {
            height: 450px;
            @include media-breakpoint-up(lg) {
                height: 520px;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(21, 63, 89, 0.75);
                z-index: 2;
                left: 0;
                top: 0;
            }

            img {
                object-fit: cover;
                object-position: center center;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
            }
            .container {
                position: relative;
                z-index: 3;
                padding-top: 6rem;
                @include media-breakpoint-up(lg) {
                    padding-top: 8rem;
                }
                .text {
                    @include media-breakpoint-up(lg) {
                        max-width: 55%;
                    }
                    h3 {
                        color: $color-blue-third;
                    }
                    h2 {
                        color: #fff;
                        text-align: left;
                    }
                    p {
                        color: #fff;
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: 18px;
            z-index: 90;
            &-bullet {
                background-color: transparent;
                border: 3px solid #fff;
                height: 15px;
                width: 15px;
                opacity: 0.6;
                &-active {
                    background-color: #fff;
                    opacity: 1;
                }
            }
        }
    }
}

//BANNER VIDEO
.banner-video {
    position: relative;
    padding: .75rem 0 1rem;
    @include media-breakpoint-up(lg) {
        padding: .75rem 0 .5rem;
    }
    &:after {
        background-color: $color-blue-main;
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        width: 100%;
        @include media-breakpoint-up(lg) {
            width: 70%;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @include media-breakpoint-up(lg) {
            margin-left: .85rem;
        }
    }
    /* video {
        @include media-breakpoint-down(lg) {
            height: 280px;
        }
    } */
}

//OUR COMPANIES
.our-companies {
    .companies-swiper {
        padding: .5rem;
        .swiper-wrapper {
            padding: 0 0 2rem 0;
        }
        .swiper-slide {
            min-height: 380px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 1rem;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 11px #c4c4c4;
            @include media-breakpoint-up(lg) {
                min-height: 410px;
            }
            a {
                text-decoration: none;
                display: block;
                height: 100%;
                p {
                    font-size: 0.85rem;
                }
                hr {
                    height: 2px;
                    background-color: $color-blue-third;
                    border: 0;
                }
                &:hover {
                    /* img {
                        transform: rotate(360deg);
                    } */
                }
            }
            figure {
                width: 100%;
                height: 100px;
                img {
                    transition: all 0.3s ease-in;
                    object-fit: contain;
                    object-position: center center;
                    width: 100%;
                    height: 100%;
                    &.logo-patagonia-energy {
                        //transform: translateY(-15px);
                        max-height: 160px;
                    }
                    &:hover {
                        //transform: translateY(-15px);
                        opacity: 0.5;
                    }
                }

            }
        }
        .swiper-pagination {
            bottom: 0;
        }
    }
}

//INVESTMENT CRITERIA
.investment-criteria {
    background: rgb(85,121,150);
    background: linear-gradient(360deg, #94b8d7 45%, #d3e2ef 100%);
    @include media-breakpoint-up(lg) {
        margin-bottom: 7rem;
    }

    &-items-wrapper {
        display: grid;
        grid-gap: 25px;
        margin-top: 2rem;
        @include media-breakpoint-up(lg) {
            margin-bottom: -5rem;
            grid-template-columns: repeat(3, 1fr);
        }

        div {
            border: 3px solid $color-blue-third;
            border-radius: 10px;
            background-color: #fff;
            //box-shadow: 0 0 5px #eee;
            padding: 1.5rem 1.25rem 0.75rem;
            display: flex;
            flex-direction: column; 
            .btn-link {
                margin-top: 0.5rem;
                @include media-breakpoint-up(lg) {
                    margin-top: auto;
                }
            }
        }
    }
}

//FUTURE INVESTMENT
.future-investment.two-cols {
    @include media-breakpoint-up(lg) {
        margin-top: 4rem;
    }
    h2 {
        margin-bottom: 1rem;
        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }
    }
}

//KNOW MORE
.know-more {
    @include media-breakpoint-down(lg) {
        margin-top: 0;
    }
    background-color: $color-blue-secondary;
    p, 
    h3 {
        color: #fff;
    }
}

//TWO COLS
.two-cols {
    @include media-breakpoint-down(lg) {
        margin-top: 1rem;
    }
    .text-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
        .btn {
            margin-top: .5rem;
            @include media-breakpoint-up(lg) {
                margin-top: auto;
            }
        }
    }
    img {
        @include media-breakpoint-down(lg) {
            margin-bottom: 1rem;
        }
    }
}

//TWO COLS TEXT
.two-cols-text {
    &--wrapper {
        margin-top: 2rem;
        text-align: justify;
        @include media-breakpoint-up(lg) {
            column-gap: 70px;
            columns: 2;
        }
    }
}

//STRATEGIC SECTORS
#strategic-sectors {
    background-image: url('../../assets/images/finanzas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    position: relative;
    min-height: 300px;
    &.finance {
        background-image: url('../../assets/images/finanzas.jpg');
    }
    &.real-state {
        background-image: url('../../assets/images/real_state.jpg');
    }
    &.agrobusiness {
        background-image: url('../../assets/images/agronegocios.jpg');
    }
    &.energy {
        background-image: url('../../assets/images/energia.jpg');
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 76, 143, 0.7);
        z-index: 1;
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }

    .text-content {
        width: 100%;
        position: relative;
        z-index: 3;
        @include media-breakpoint-up(lg) {
            width: 45%;
        }
        h2 {
            color: #f5f5dc;
        }
        ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-blue-third;
            li {
                font-size: 1.25rem;
                cursor: pointer;
                margin-bottom: .35rem;
                display: flex;
                align-items: center;
                transition: all 0.3s ease;
                @include media-breakpoint-up(lg) {
                    font-size: 1.5rem;
                }
                &:hover {
                    color: $color-blue-third;
                }
                &.active {
                    color: #c8ce55;
                    font-weight: 700;
                }
                i {
                    margin-left: 0.5rem;
                    font-size: 1rem;
                    transform: translateY(2px);
                }
            }
        }
    }
}

//IMPACT INVESTMENTS 
.impact-investments {
    background-color: $color-blue-third;
    .text-content {
        background-color: #fff;
        padding: 1.5rem;
        margin-bottom: -2rem;
    }
}

//CORPORATE-CITIZENSHIP 
.corporate-citizenship {
    background-color: #fff;
    .text-content {
        background-color: $color-blue-main;
        padding: 1.5rem;
        margin-bottom: -2rem;
    }
}

//CONTACT
.contact-form {
    margin-top: 0;
    form {
        max-width: 800px;
        margin: 3rem auto 0;
        background-color: rgb(148, 184, 215, 0.35);
        padding: 1.25rem;
        border-radius: .5rem;
        box-shadow: 0 0 8px #ddd;
    
        label {
            font-size: 0.75rem;
            font-weight: 700;
            margin-bottom: 0.25rem;
        }
    
        .form-control {
            font-size: 0.9rem;
            border-color: #ccc;
            &:focus {
                border-color: $color-blue-main;
                box-shadow: none;
            }
            &::placeholder {
                color: #7d7d7d;
            }
        }

        .error-msg {
            color: #f00000;
            font-size: 14px;
            padding-top: 5px;
            display: none;
            &.visible {
                display: block;
            }
        }
    }
}

//OUR EXPERTS
.our-experts {
    .experts-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        margin-top: 2rem;
        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
        }

        .expert-card {
            border-radius: 10px;
            box-shadow: 0 0 11px #c4c4c4;
            overflow: hidden;
            figure {
                height: 200px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
            }

            &--body {
                padding: .75rem;
                text-align: center;
            }

            &--name {
                font-size: 1.25rem;
                margin-bottom: .25rem;
                font-weight: 700;
            }

        }
    }

}

//THANK YOU
.thank-you {
    margin-top: 6rem;
    h1, h2, .back-to-home {
        text-align: center;
    }

}