//MAIN SLIDER
.main-slider {
    .home-swiper {
        .swiper-slide {
            height: 550px;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(21, 63, 89, 0.75);
                z-index: 2;
                left: 0;
                top: 0;
            }

            img {
                object-fit: cover;
                object-position: center center;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
            }
            .container {
                position: relative;
                z-index: 3;
                padding-top: 5rem;
                @include media-breakpoint-up(lg) {
                    padding-top: 8rem;
                }
                .text {
                    @include media-breakpoint-up(lg) {
                        max-width: 50%;
                    }
                    h3 {
                        color: $color-blue-third;
                    }
                    h2 {
                        color: #fff;
                        text-align: left;
                    }
                    p {
                        color: #fff;
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: 18px;
            z-index: 90;
            &-bullet {
                background-color: transparent;
                border: 3px solid #fff;
                height: 15px;
                width: 15px;
                opacity: 0.6;
                &-active {
                    background-color: #fff;
                    opacity: 1;
                }
            }
        }
    }
}

//BANNER VIDEO
.banner-video {
    position: relative;
    padding: .75rem 0 .5rem;
    &:after {
        background-color: $color-blue-main;
        position: absolute;
        content: '';
        width: 70%;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @include media-breakpoint-up(lg) {
            margin-left: .85rem;
        }
    }
}

//OUR COMPANIES
.our-companies {
    .companies-swiper {
        .swiper-wrapper {
            padding-bottom: 2rem;
        }
        .swiper-slide {
            img {
                max-width: 100%;
            }
        }
        .swiper-pagination {
            bottom: 0;
        }
    }
}

//INVESTMENT CRITERIA
.investment-criteria {
    background: rgb(85,121,150);
    background: linear-gradient(360deg, #94b8d7 45%, #d3e2ef 100%);

    &-items-wrapper {
        display: grid;
        grid-gap: 30px;
        margin-top: 2rem;
        margin-bottom: -5rem;
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        div {
            border: 3px solid $color-blue-third;
            border-radius: 10px;
            background-color: #fff;
            //box-shadow: 0 0 5px #eee;
            padding: 1.5rem 1.25rem;
        }
    }
}

//FUTURE INVESTMENT
.future-ivestment {
    margin-top: 4rem;
    h2 {
        margin-bottom: 2rem;
    }
}

//KNOW MORE
.know-more {
    background-color: $color-blue-secondary;
    p, 
    h3 {
        color: #fff;
    }
}

//TWO COLS TEXT
.two-cols-text {
    &--wrapper {
        margin-top: 2rem;
        columns: 2;
        text-align: justify;
        column-gap: 50px;
    }
}

//STRATEGIC SECTORS
.strategic-sectors {
    background-image: url('../../assets/images/impact_investment_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    position: relative;
    min-height: 300px;
    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        background-color: rgba(0, 76, 143, 0.7);
        z-index: 1;
    }

    .text-content {
        width: 50%;
        position: relative;
        z-index: 3;
        h2 {
            color: #f5f5dc;
        }
        ul {
            padding-left: 1rem;
            list-style: square;
        }
    }
}

//IMPACT INVESTMENTS 
.impact-investments {
    background-color: $color-blue-third;
    .text-content {
        background-color: #fff;
        padding: 1.5rem;
        margin-bottom: -2rem;
    }
}